@model IEnumerable<Estacionamento.Models.AppUser>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Role Name</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <th>@user.Id</th>
                <th>@user.Email</th>
                <th>@user.Name</th>
                <th>
                    <div>
                        <a asp-controller="Admin" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                    </div>
                </th>
            </tr>
        }

    </tbody>
</table>