@model Estacionamento.Models.ViewModels.ForgetPasswordVM

<div class="container">
    <div class="col">
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <form method="post" aps-controller="Account" asp-action="FogotPassword">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Endereço de Email">
                        <span asp-validation-for="Email" class="text-danger" />
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name ="_ValidationScriptsPartial"/>
}