@model Estacionamento.Models.ViewModels.LoginVM

<div class="container">
    <div class="d-flex flex-row mb-3">
        <form method="post" aps-controller="Account" asp-action="Login">
            <div class="mb-3">
                <span class="text-danger">@Html.ValidationSummary("", "Usuario ou senha invalidos")</span>
                <label for="email" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Endereço de Email">
                <span asp-validation-for="Email" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="password">
                <span asp-validation-for="Password" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <br />
            <br />
            <a asp-controller="Account" asp-action="Register">Nova Conta</a>
            <br />
            <a asp-controller="Account" asp-action="FogotPassword">Esqueceu sua senha?</a>
        </form>
    </div>
</div>
@section Scripts{
    <partial name ="_ValidationScriptsPartial"/>
}