@model Estacionamento.Models.ViewModels.ResetPwdVM

<div class="container">
    <div class="col">
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <form method="post" aps-controller="Account" asp-action="ResetPwd">
                    <input asp-for="Code" hidden/>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Endereço de Email">
                        <span asp-validation-for="Email" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input asp-for="Password" type="password" class="form-control" id="password">
                        <span asp-validation-for="Password" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="confirmpassword" class="form-label">Confirm Password</label>
                        <input asp-for="ConfirmPassowrd" type="password" class="form-control" id="confirmpassword">
                        <span asp-validation-for="ConfirmPassowrd" class="text-danger" />
                    </div>
                    <button type="submit" class="btn btn-primary">Resetar</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}